*{
    margin: 0;
    padding: 0;
}
.logo-imagen{
    height: 60px;
}

header nav{
    background: #783304;
    
}
#navbarNavDropdown{
    justify-content: center;
}
.border-propio{
    border: 2px solid black;
}